
a:hover, a:active{
    background-color: black;
}
img{
    margin-left:5px;
    margin-top: 10px;
    border-radius: 10px;
}
.container-fluid{
    background-image: url("../img/amazing.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
    width: 1683px;
    height:850px;
    
    
}
#intro{
    font-size: 35px;
    text-align: center;
    margin-top: 110px;
    color:rgb(22, 69, 172);
  }

  li{
    display: inline-table;
    padding: 10px;
    font-size:25px;
    margin-left: 100px;
  }
* {
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  header {
    background-color:rgb(7, 7, 90);
    text-align: center;
    font-size: 45px;
    color: white;
    height: 50px;
    width: 1683px;
    margin-right:-20px;
  }
  
  article {
    background-image: url("../img/plain\ back.jpeg");
    padding: 20px;
    width: 1683px;
    background-repeat: no-repeat;
    background-size:cover;
    height: 1050px;
  }
  
  footer {
    background-color:rgb(26, 170, 26);
    padding: 10px;
    text-align: center;
    color:goldenrod;
    width: 1683px;
    margin-right: -20px;
    font-size: 25px;
  }

  h2{
    margin-left: 100px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

 b{
  color: brown;
 }

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
  